<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dibiao_ketingditan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-25}</string>
                <key>spriteSize</key>
                <string>{380,216}</string>
                <key>spriteSourceSize</key>
                <string>{600,360}</string>
                <key>textureRect</key>
                <string>{{821,1007},{380,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dibiao_ketingditan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-32}</string>
                <key>spriteSize</key>
                <string>{500,254}</string>
                <key>spriteSourceSize</key>
                <string>{600,360}</string>
                <key>textureRect</key>
                <string>{{1,1062},{500,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dibiao_ketingditan_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{401,235}</string>
                <key>spriteSourceSize</key>
                <string>{595,301}</string>
                <key>textureRect</key>
                <string>{{1385,618},{401,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dibiao_ketingditan_saiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-39}</string>
                <key>spriteSize</key>
                <string>{585,292}</string>
                <key>spriteSourceSize</key>
                <string>{659,390}</string>
                <key>textureRect</key>
                <string>{{1,475},{585,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dibiao_ketingditan_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-16}</string>
                <key>spriteSize</key>
                <string>{382,199}</string>
                <key>spriteSourceSize</key>
                <string>{602,363}</string>
                <key>textureRect</key>
                <string>{{257,1062},{382,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dibiao_ketingditan_shuiguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-28}</string>
                <key>spriteSize</key>
                <string>{482,258}</string>
                <key>spriteSourceSize</key>
                <string>{778,450}</string>
                <key>textureRect</key>
                <string>{{295,475},{482,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_bingxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{197,314}</string>
                <key>spriteSourceSize</key>
                <string>{241,368}</string>
                <key>textureRect</key>
                <string>{{1039,1257},{197,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_bingxiang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{199,314}</string>
                <key>spriteSourceSize</key>
                <string>{241,368}</string>
                <key>textureRect</key>
                <string>{{679,1715},{199,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_bingxiang_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{222,335}</string>
                <key>spriteSourceSize</key>
                <string>{240,361}</string>
                <key>textureRect</key>
                <string>{{2204,340},{222,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chazuo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{173,234}</string>
                <key>spriteSourceSize</key>
                <string>{241,300}</string>
                <key>textureRect</key>
                <string>{{2685,701},{173,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_chazuo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{189,242}</string>
                <key>spriteSourceSize</key>
                <string>{241,300}</string>
                <key>textureRect</key>
                <string>{{2728,876},{189,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chazuo_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{208,234}</string>
                <key>spriteSourceSize</key>
                <string>{242,302}</string>
                <key>textureRect</key>
                <string>{{2546,1689},{208,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chazuo_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{195,258}</string>
                <key>spriteSourceSize</key>
                <string>{241,302}</string>
                <key>textureRect</key>
                <string>{{2425,691},{195,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_chuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-18}</string>
                <key>spriteSize</key>
                <string>{441,315}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{1,1564},{441,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_chuang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{441,337}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{1856,1},{441,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang2_beizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-54}</string>
                <key>spriteSize</key>
                <string>{345,233}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{1375,1684},{345,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_chuang_beizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-52}</string>
                <key>spriteSize</key>
                <string>{385,229}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{1788,631},{385,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-36}</string>
                <key>spriteSize</key>
                <string>{456,401}</string>
                <key>spriteSourceSize</key>
                <string>{484,485}</string>
                <key>textureRect</key>
                <string>{{922,1},{456,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang_haidi_beizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-109}</string>
                <key>spriteSize</key>
                <string>{324,215}</string>
                <key>spriteSourceSize</key>
                <string>{484,485}</string>
                <key>textureRect</key>
                <string>{{819,1389},{324,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_chuang_saiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{415,287}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{968,404},{415,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang_saiche_beizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-43}</string>
                <key>spriteSize</key>
                <string>{327,213}</string>
                <key>spriteSourceSize</key>
                <string>{479,361}</string>
                <key>textureRect</key>
                <string>{{2100,1477},{327,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-35}</string>
                <key>spriteSize</key>
                <string>{458,472}</string>
                <key>spriteSourceSize</key>
                <string>{480,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{458,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chuang_shaonv_beizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-139}</string>
                <key>spriteSize</key>
                <string>{352,254}</string>
                <key>spriteSourceSize</key>
                <string>{480,542}</string>
                <key>textureRect</key>
                <string>{{2374,888},{352,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chugui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{337,262}</string>
                <key>spriteSourceSize</key>
                <string>{421,330}</string>
                <key>textureRect</key>
                <string>{{1036,1456},{337,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_chugui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{369,289}</string>
                <key>spriteSourceSize</key>
                <string>{419,333}</string>
                <key>textureRect</key>
                <string>{{1728,1188},{369,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_dianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{285,324}</string>
                <key>spriteSourceSize</key>
                <string>{361,360}</string>
                <key>textureRect</key>
                <string>{{1935,1711},{285,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_dianshi_shuiguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-23}</string>
                <key>spriteSize</key>
                <string>{307,359}</string>
                <key>spriteSourceSize</key>
                <string>{361,421}</string>
                <key>textureRect</key>
                <string>{{458,1339},{307,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_guizi_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{235,351}</string>
                <key>spriteSourceSize</key>
                <string>{241,361}</string>
                <key>textureRect</key>
                <string>{{1375,1447},{235,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_jingzi_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-28}</string>
                <key>spriteSize</key>
                <string>{159,271}</string>
                <key>spriteSourceSize</key>
                <string>{181,331}</string>
                <key>textureRect</key>
                <string>{{2261,1692},{159,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_linyu_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-6}</string>
                <key>spriteSize</key>
                <string>{116,340}</string>
                <key>spriteSourceSize</key>
                <string>{242,422}</string>
                <key>textureRect</key>
                <string>{{2699,1144},{116,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_matong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{201,220}</string>
                <key>spriteSourceSize</key>
                <string>{239,240}</string>
                <key>textureRect</key>
                <string>{{2751,498},{201,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_shafa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{371,289}</string>
                <key>spriteSourceSize</key>
                <string>{421,331}</string>
                <key>textureRect</key>
                <string>{{1355,1156},{371,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_shafa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-30}</string>
                <key>spriteSize</key>
                <string>{385,301}</string>
                <key>spriteSourceSize</key>
                <string>{421,391}</string>
                <key>textureRect</key>
                <string>{{968,693},{385,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_shafa_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-39}</string>
                <key>spriteSize</key>
                <string>{411,342}</string>
                <key>spriteSourceSize</key>
                <string>{421,422}</string>
                <key>textureRect</key>
                <string>{{555,404},{411,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_shafa_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{373,324}</string>
                <key>spriteSourceSize</key>
                <string>{421,360}</string>
                <key>textureRect</key>
                <string>{{1742,862},{373,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_taideng_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{122,239}</string>
                <key>spriteSourceSize</key>
                <string>{236,301}</string>
                <key>textureRect</key>
                <string>{{2817,1396},{122,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_taideng_saiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-30}</string>
                <key>spriteSize</key>
                <string>{259,314}</string>
                <key>spriteSourceSize</key>
                <string>{301,392}</string>
                <key>textureRect</key>
                <string>{{1039,996},{259,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_taideng_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{123,274}</string>
                <key>spriteSourceSize</key>
                <string>{241,362}</string>
                <key>textureRect</key>
                <string>{{2817,1120},{123,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_taideng_shuiguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{193,248}</string>
                <key>spriteSourceSize</key>
                <string>{239,300}</string>
                <key>textureRect</key>
                <string>{{2175,677},{193,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_xishoutai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-36}</string>
                <key>spriteSize</key>
                <string>{282,243}</string>
                <key>spriteSourceSize</key>
                <string>{360,359}</string>
                <key>textureRect</key>
                <string>{{1050,1720},{282,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_xishoutai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,4}</string>
                <key>spriteSize</key>
                <string>{296,323}</string>
                <key>spriteSourceSize</key>
                <string>{360,359}</string>
                <key>textureRect</key>
                <string>{{1610,1711},{296,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_xishoutai_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-23}</string>
                <key>spriteSize</key>
                <string>{230,370}</string>
                <key>spriteSourceSize</key>
                <string>{240,422}</string>
                <key>textureRect</key>
                <string>{{1728,1479},{230,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_xiyiji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-23}</string>
                <key>spriteSize</key>
                <string>{161,230}</string>
                <key>spriteSourceSize</key>
                <string>{239,300}</string>
                <key>textureRect</key>
                <string>{{2751,335},{161,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_xiyiji2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{171,208}</string>
                <key>spriteSourceSize</key>
                <string>{239,240}</string>
                <key>textureRect</key>
                <string>{{2756,1856},{171,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_yugang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{397,289}</string>
                <key>spriteSourceSize</key>
                <string>{481,361}</string>
                <key>textureRect</key>
                <string>{{1805,340},{397,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_yugang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-34}</string>
                <key>spriteSize</key>
                <string>{435,333}</string>
                <key>spriteSourceSize</key>
                <string>{481,419}</string>
                <key>textureRect</key>
                <string>{{2299,1},{435,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_yugang_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{459,401}</string>
                <key>spriteSourceSize</key>
                <string>{481,423}</string>
                <key>textureRect</key>
                <string>{{461,1},{459,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_yugang_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-14}</string>
                <key>spriteSize</key>
                <string>{418,285}</string>
                <key>spriteSourceSize</key>
                <string>{480,359}</string>
                <key>textureRect</key>
                <string>{{1385,331},{418,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_zaotai_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{353,321}</string>
                <key>spriteSourceSize</key>
                <string>{361,359}</string>
                <key>textureRect</key>
                <string>{{2428,336},{353,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiajv_zhuozi_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-16}</string>
                <key>spriteSize</key>
                <string>{359,316}</string>
                <key>spriteSourceSize</key>
                <string>{363,362}</string>
                <key>textureRect</key>
                <string>{{318,1648},{359,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_zhuozi_saiche.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{474,328}</string>
                <key>spriteSourceSize</key>
                <string>{540,390}</string>
                <key>textureRect</key>
                <string>{{1380,1},{474,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_zhuozi_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{215,217}</string>
                <key>spriteSourceSize</key>
                <string>{359,301}</string>
                <key>textureRect</key>
                <string>{{2756,1637},{215,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiajv_zhuozi_shuiguo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,18}</string>
                <key>spriteSize</key>
                <string>{332,238}</string>
                <key>spriteSourceSize</key>
                <string>{474,292}</string>
                <key>textureRect</key>
                <string>{{2736,1},{332,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shijian_lajidai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{2546,1925},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_aixinhua_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-4}</string>
                <key>spriteSize</key>
                <string>{299,385}</string>
                <key>spriteSourceSize</key>
                <string>{365,423}</string>
                <key>textureRect</key>
                <string>{{1355,855},{299,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangshi_gaoda.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{248,359}</string>
                <key>spriteSourceSize</key>
                <string>{360,421}</string>
                <key>textureRect</key>
                <string>{{2099,1227},{248,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangshi_haidi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-6}</string>
                <key>spriteSize</key>
                <string>{255,353}</string>
                <key>spriteSourceSize</key>
                <string>{303,391}</string>
                <key>textureRect</key>
                <string>{{2117,872},{255,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_huache_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{361,330}</string>
                <key>spriteSourceSize</key>
                <string>{363,362}</string>
                <key>textureRect</key>
                <string>{{458,1007},{361,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_pingfeng_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-28}</string>
                <key>spriteSize</key>
                <string>{237,364}</string>
                <key>spriteSourceSize</key>
                <string>{241,420}</string>
                <key>textureRect</key>
                <string>{{2460,1144},{237,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_qiqiu_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{168,309}</string>
                <key>spriteSourceSize</key>
                <string>{240,361}</string>
                <key>textureRect</key>
                <string>{{880,1720},{168,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_shengdanshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-46}</string>
                <key>spriteSize</key>
                <string>{257,408}</string>
                <key>spriteSourceSize</key>
                <string>{361,540}</string>
                <key>textureRect</key>
                <string>{{555,748},{257,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhuangshi_shouban_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-32}</string>
                <key>spriteSize</key>
                <string>{257,177}</string>
                <key>spriteSourceSize</key>
                <string>{301,271}</string>
                <key>textureRect</key>
                <string>{{2429,1510},{257,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuangshi_xiaohua_shaonv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{122,248}</string>
                <key>spriteSourceSize</key>
                <string>{122,304}</string>
                <key>textureRect</key>
                <string>{{2422,1692},{122,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>furnish.png</string>
            <key>size</key>
            <string>{2982,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f48411edec880ac11cc5a280cb7f80aa:52fa94cb523cac1f2278f5374608e146:f148e55094c8cd0cbb6d489c07ad546f$</string>
            <key>textureFileName</key>
            <string>furnish.png</string>
        </dict>
    </dict>
</plist>
